.card-count-down {
  background: linear-gradient(180deg, rgba(173, 83, 137, 0.16) 0%, rgba(60, 16, 83, 0.8) 107.96%);
  box-shadow: 0px 4px 15px 0px #552D8E33;
  box-shadow: 0px 3px 14px 0px #552D8E1F;
  box-shadow: 0px 8px 10px 0px #552D8E24;
  border-radius: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.card__title-header {
  margin-bottom: 8px;
}


.card__count-down {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
}

.card__item-count-down {
  flex: 1;
  position: relative;
}

.card__time::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
}

.card__item-count-down:last-child .card__time::after {
  background-color: transparent;
}

.card__progress {
}

.card__progress-title {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 600;
  color: #000D22;
}

.card__token-info {
  color: #fff;
  margin-top: 40px;
}

.card__item-token-info {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.card__token-label {
  width: 100px;
}

.card__btn-buy {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 100% !important;
  border: 1px solid #fff !important;
  border-radius: 6px !important;
  padding: 10px !important;
  background-color: transparent !important;
  color: #fff !important;
}

.card__time {
  font-size: 22px;
  line-height: 60px;
  position: relative;
  color: #fff;
}


.card__text-time {
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-track, :where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-tracks {
  background: linear-gradient(90deg, #AD5389 -12.5%, #3C1053 102.62%);
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-rail,
:where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-track, :where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-tracks {
  height: 8px;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-slider-horizontal .ant-slider-step {
  height: 8px;
}

@media (min-width: 991px) {
  .card__time {
    font-size: 32px;
    line-height: 70px;
  }

  
  .card__text-time {
    font-size: 13px;
    line-height: 20px;
  }
}
.ant-slider-mark-text {
  top: 8px;
  display: block;
  width: 120px;
}

.ant-slider-mark-text:last-child {
  left: calc(100% - 30px) !important;
}