.tokenomics {
  padding: 40px 0;
}

.tokenomics__intro {
  width: 100%;
}

@media (min-width: 991px) {
  .tokenomics__intro {
    width: 590px;
  }

  .tokenomics {
    padding: 80px 0;
  }
}

.tokenomics__title {
  font-size: 40px;
  line-height: 48.76px;
  font-weight: 700;
  color: #000D22;
}

.tokenomics__desc {
  margin-top: 20px;
  counter-reset: #6C7E99;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.06px;
  margin-bottom: 80px;
}

.tokenomics__item-list {
  display: inline-block;
  margin: 0 5px;
  width: 45%;
  margin-bottom: 10px;
}

.tokenomics__content {
  background-image: url('/tokenomics-mobile.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.tokenomics__item-color {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #3D576E4D;
  box-shadow: 0px -2px 4px 0px #FFFFFF4D;
}

.tokenomics__item-label {
  font-size: 12px;
  line-height: 16px;
  color: #000D22;
  font-weight: 700;
}

@media (min-width: 991px) {
  .tokenomics__content {
    background-image: url('/Tokenomics.png');
  }
}